.poster {
  background: linear-gradient(to bottom, #eaeefe, #183ec2);
}
.poster-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1395px;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.button-container {
  gap: 10px;
}
.poster-right-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.poster-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.poster-right {
  padding: 50px;
}
.poster-left h1 {
  font-size: 60px;
  max-width: 500px;
  font-weight: 700px;
}
.poster-left p {
  font-size: 15px;
  font-weight: 300;
  max-width: 500px;
}
.button1 {
  width: 100px;
  height: 3rem;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
}
.logos {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: auto;
}
.logo-container div {
  margin: 10px 60px;
}
