.Market-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff, #d2dcff);
  min-height: 1300px;
}
.Image {
  max-width: 1000px;
  max-height: 683px;
}
.Marketing-image-container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 3px 3px 5px 0px rgb(178, 174, 174);
  border-radius: 10px;
  overflow: hidden;
}
.Marketing-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  min-height: 270px;
  margin: 0 auto;
}
.Marketing-heading h1 {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 350px;
}
.Marketing-heading p {
  text-align: center;
  max-width: 430px;
  padding: 10px;
}
.Marketing-features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 400px;
  margin-top: 50px;
}
.Marketing-features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  gap: 20px;
}
.Marketing-features-container .discription {
  max-width: 250px;
}
.Marketing-features-container .title {
  font-weight: 700;
}
@media (max-width: 1080px) {
  .Image {
    max-width: 700px;
    max-height: 400px;
  }
  .Marketing-image-container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 5px 0px rgb(178, 174, 174);
    border-radius: 10px;
    overflow: hidden;
  }
}
@media (max-width: 800px) {
  .Image {
    max-width: 500px;
    max-height: 300px;
  }
  .Marketing-image-container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 5px 0px rgb(178, 174, 174);
    border-radius: 10px;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .Image {
    max-width: 300px;
    max-height: 200px;
  }
  .Marketing-image-container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 5px 0px rgb(178, 174, 174);
    border-radius: 10px;
    overflow: hidden;
  }
}
