* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  background-color: #eaeefe;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1650px;
  padding: 10px;
}
.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-items li {
  padding: 15px;
  list-style: none;
  font-size: 15px;
  color: #545353;
}
.button {
  width: 100px;
  height: 3rem;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
}
.menu-icon {
  display: none;
}
@media (max-width: 500px) {
  .navbar-items {
    display: none;
    flex-direction: column; /* Stack menu items vertically */
    position: absolute; /* Position the menu absolutely */
    top: 60px; /* Adjust the top position based on your navbar height */
    left: 0;
    width: 100%;
    background-color: #eaeefe; /* Match the navbar background */
    z-index: 1000; /* Ensure the menu is above other content */
  }
  .navbar-items .show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
